<!-- 

<script>
  $(document).ready(function(){
    $('#new_post').submit(function(){
      var name = document.getElementById('post_title').value();
      console.log(name);
      if( name == null){
        $("#post_title").addClass('errorClass');
        return false;
      }
    })
  })
</script>
<style>
  .errorClass { border:  1px solid red; }
</style>

--> 

<%= form_for  @post do |f| %>

 <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<p>

<%= f.label :title %>
<%= f.text_field :title %>
</p>
<p>
<%= f.label :text %>
<%= f.text_area :text %>
</p>
<p>
<%= f.submit %>
</p>

<% end %>

