
	<% @posts.each do |post| %>

<div>
	<article>
  <header>
    <h1><%= post.title %></h1>
    <p><time> <%= post.created_at %> </time></p> 
  </header>
  
</article>


</div>


<div>
			<div > <%= post.title %></div>
			<div > <%= post.text %> </div >
			<div id="elink1"> <%= link_to "Show", post_path(post) %></div > 
			<div id="elink2"> <% if can? :update, post %> <%= link_to "Edit", edit_post_path(post) %></div >

					<% end %>

			<div id="elink3">	<% if can? :destroy, post %> <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></div >

					<% end %>

	
</div>

	<% end %>
		

